#sampleButton{
    width: 300px;
    height: 300px;
    position: absolute;
    bottom: 45%;
    left: 45%;
}
#pageLink{
    width: 10vw;
    height: 8vh;
    position: absolute;
    bottom: 10%;
    right: 5%;
}