#sample1Button{
    width: 20vw;
    height: 10vh;
    position: absolute;
    bottom: 45%;
    left: 45%;
}
#nextButton{
    width: 10vw;
    height: 8vh;
    position: absolute;
    bottom: 10%;
    right: 5%;
}